[Desktop Entry]
Type=Application
Name=Welcome to Wolf OS: a hardened everyday desktop that can also game and hack. The next pages show what makes it different and help you set it up.
Icon=wolf-os-logo
Comment=Wolf OS
URL=https://github.com/vukkz/wolf-os
